node-red-export/import-me-to-node-red.json
[
    {
        "id": "de5da0716b4173a5",
        "type": "tab",
        "label": "Flow 5",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7f535294f33ff69f",
        "type": "mqtt in",
        "z": "de5da0716b4173a5",
        "name": "",
        "topic": "node/skeleton:0/temperature",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "29fba84a.b2af58",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 300,
        "wires": [
            [
                "8ab57879c29681ce"
            ]
        ]
    },
    {
        "id": "3ae3b3a6ea0f03d5",
        "type": "mqtt in",
        "z": "de5da0716b4173a5",
        "name": "",
        "topic": "node/skeleton:0/accelerometer",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "29fba84a.b2af58",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 440,
        "wires": [
            [
                "8ab57879c29681ce"
            ]
        ]
    },
    {
        "id": "f8e015274f582787",
        "type": "mqtt in",
        "z": "de5da0716b4173a5",
        "name": "",
        "topic": "node/skeleton:0/button",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "29fba84a.b2af58",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 580,
        "wires": [
            [
                "8ab57879c29681ce"
            ]
        ]
    },
    {
        "id": "2c059cde3e76bc3b",
        "type": "http request",
        "z": "de5da0716b4173a5",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "query",
        "url": "localhost:3001/api/v1/sensorData",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "Content-Type",
                "keyValue": "",
                "valueType": "application/json",
                "valueValue": ""
            }
        ],
        "x": 1110,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "a41328d41d725914",
        "type": "inject",
        "z": "de5da0716b4173a5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "temperature",
        "payload": "26.5 123id",
        "payloadType": "str",
        "x": 140,
        "y": 260,
        "wires": [
            [
                "8ab57879c29681ce"
            ]
        ]
    },
    {
        "id": "0910890fa764a106",
        "type": "comment",
        "z": "de5da0716b4173a5",
        "name": "MQTT handlers",
        "info": "",
        "x": 100,
        "y": 220,
        "wires": []
    },
    {
        "id": "9c43ca6ccf1bc5e3",
        "type": "function",
        "z": "de5da0716b4173a5",
        "name": "Convert MQTT to HTTP",
        "func": "const contentArr = msg.payload.split(\" \");\nconst topicArr = msg.topic.split(\"/\");\n\nconst stringValue = contentArr[0];\nconst numericValue = +stringValue;\nconst value = isNaN(numericValue) ? stringValue : numericValue;\n\nconst sensorId = contentArr[1];\nconst topic = topicArr[topicArr.length - 1];\n\n//msg.method = 'POST';\n//msg.url = `localhost:3001/api/v1/sensorData/${topic}`;\nmsg.headers = {\n    'Authorization': `Bearer ${msg.token}`\n};\nmsg.payload = {\n    value,\n    sensorId,\n    topic\n};\n\ndelete msg.token;\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 460,
        "wires": [
            [
                "2c059cde3e76bc3b"
            ]
        ]
    },
    {
        "id": "471d0d32107be26e",
        "type": "inject",
        "z": "de5da0716b4173a5",
        "name": "On init",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 90,
        "y": 80,
        "wires": [
            [
                "cf784492aac08d90"
            ]
        ]
    },
    {
        "id": "cf784492aac08d90",
        "type": "file in",
        "z": "de5da0716b4173a5",
        "name": "",
        "filename": "C:\\Users\\ppetr\\Documents\\unicorn\\IoT\\iotkey.json",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 390,
        "y": 80,
        "wires": [
            [
                "d16c6fe557a9582f"
            ]
        ]
    },
    {
        "id": "d16c6fe557a9582f",
        "type": "json",
        "z": "de5da0716b4173a5",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 590,
        "y": 80,
        "wires": [
            [
                "0226b2a85ef38827"
            ]
        ]
    },
    {
        "id": "2698e90b0dea7589",
        "type": "change",
        "z": "de5da0716b4173a5",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "token",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 940,
        "y": 80,
        "wires": [
            [
                "c4c30a190fd564b8",
                "26167c97b87e51eb"
            ]
        ]
    },
    {
        "id": "c4c30a190fd564b8",
        "type": "ui_text_input",
        "z": "de5da0716b4173a5",
        "name": "",
        "label": "Token",
        "tooltip": "",
        "group": "57ff470b.93fdf8",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": false,
        "className": "",
        "topicType": "msg",
        "x": 1110,
        "y": 80,
        "wires": [
            [
                "2698e90b0dea7589"
            ]
        ]
    },
    {
        "id": "3790a55a1d55295d",
        "type": "comment",
        "z": "de5da0716b4173a5",
        "name": "Configuration flow",
        "info": "",
        "x": 110,
        "y": 40,
        "wires": []
    },
    {
        "id": "0226b2a85ef38827",
        "type": "change",
        "z": "de5da0716b4173a5",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.token",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 80,
        "wires": [
            [
                "2698e90b0dea7589"
            ]
        ]
    },
    {
        "id": "26167c97b87e51eb",
        "type": "function",
        "z": "de5da0716b4173a5",
        "name": "Load config from flow",
        "func": "return {\n    payload: {\n        token: flow.get(\"token\")\n    }\n};\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1160,
        "y": 40,
        "wires": [
            [
                "7b7f1cb0e947f139"
            ]
        ]
    },
    {
        "id": "e78458246ae48d4f",
        "type": "file",
        "z": "de5da0716b4173a5",
        "name": "",
        "filename": "C:\\Users\\ppetr\\Documents\\unicorn\\IoT\\iotkey.json",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1590,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "7b7f1cb0e947f139",
        "type": "json",
        "z": "de5da0716b4173a5",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": true,
        "x": 1330,
        "y": 40,
        "wires": [
            [
                "e78458246ae48d4f"
            ]
        ]
    },
    {
        "id": "be4662253ed04d96",
        "type": "inject",
        "z": "de5da0716b4173a5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "accelerometer",
        "payload": "moved 123id",
        "payloadType": "str",
        "x": 160,
        "y": 400,
        "wires": [
            [
                "8ab57879c29681ce"
            ]
        ]
    },
    {
        "id": "7dcf1b9afacb03f9",
        "type": "inject",
        "z": "de5da0716b4173a5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "button",
        "payload": "42 123id",
        "payloadType": "str",
        "x": 120,
        "y": 540,
        "wires": [
            [
                "8ab57879c29681ce"
            ]
        ]
    },
    {
        "id": "8ab57879c29681ce",
        "type": "change",
        "z": "de5da0716b4173a5",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "token",
                "pt": "msg",
                "to": "token",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 460,
        "wires": [
            [
                "9c43ca6ccf1bc5e3"
            ]
        ]
    },
    {
        "id": "29fba84a.b2af58",
        "type": "mqtt-broker",
        "name": "",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "57ff470b.93fdf8",
        "type": "ui_group",
        "name": "Default",
        "tab": "11207769.c31889",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "11207769.c31889",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard"
    }
]