node-red-export/import-me-to-node-red.json
[
  {
    "id": "201ad2e0fbdc9e3d",
    "type": "tab",
    "label": "Flow 5",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "2546a5abbc42c850",
    "type": "http request",
    "z": "201ad2e0fbdc9e3d",
    "name": "",
    "method": "POST",
    "ret": "txt",
    "paytoqs": "query",
    "url": "localhost:3001/api/v1/sensorData/thermometer",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [
      {
        "keyType": "Content-Type",
        "keyValue": "",
        "valueType": "application/json",
        "valueValue": ""
      },
      {
        "keyType": "Authorization",
        "keyValue": "",
        "valueType": "other",
        "valueValue": "Bearer nasrat"
      }
    ],
    "x": 690,
    "y": 160,
    "wires": [
      []
    ]
  },
  {
    "id": "46b6fba27bbb1dc7",
    "type": "function",
    "z": "201ad2e0fbdc9e3d",
    "name": "function 3",
    "func": "const contentArr = msg.payload.split(\" \");\nconst topicArr = msg.topic.split(\"/\");\nmsg.payload = {\n    'value': + contentArr[0],\n    'sensorId': contentArr[1],\n    'topic': topicArr[topicArr.length-1]\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 500,
    "y": 160,
    "wires": [
      [
        "2546a5abbc42c850"
      ]
    ]
  },
  {
    "id": "25939d5da6c5c734",
    "type": "mqtt in",
    "z": "201ad2e0fbdc9e3d",
    "name": "",
    "topic": "node/skeleton:0/temperature",
    "qos": "2",
    "datatype": "auto-detect",
    "broker": "29fba84a.b2af58",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 140,
    "y": 160,
    "wires": [
      [
        "46b6fba27bbb1dc7"
      ]
    ]
  },
  {
    "id": "489e71ad3d91b8c5",
    "type": "mqtt in",
    "z": "201ad2e0fbdc9e3d",
    "name": "",
    "topic": "node/skeleton:0/accelerometer",
    "qos": "2",
    "datatype": "auto-detect",
    "broker": "29fba84a.b2af58",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 150,
    "y": 240,
    "wires": [
      [
        "f856c225ef6ea5d7"
      ]
    ]
  },
  {
    "id": "229ca8d81db26f21",
    "type": "mqtt in",
    "z": "201ad2e0fbdc9e3d",
    "name": "",
    "topic": "node/skeleton:0/button",
    "qos": "2",
    "datatype": "auto-detect",
    "broker": "29fba84a.b2af58",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 120,
    "y": 320,
    "wires": [
      [
        "56850c3ab11941bf"
      ]
    ]
  },
  {
    "id": "6a68d6390767aea7",
    "type": "http request",
    "z": "201ad2e0fbdc9e3d",
    "name": "",
    "method": "POST",
    "ret": "txt",
    "paytoqs": "query",
    "url": "localhost:3001/api/v1/sensorData/accelerometer",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [
      {
        "keyType": "Content-Type",
        "keyValue": "",
        "valueType": "application/json",
        "valueValue": ""
      }
    ],
    "x": 690,
    "y": 240,
    "wires": [
      []
    ]
  },
  {
    "id": "f856c225ef6ea5d7",
    "type": "function",
    "z": "201ad2e0fbdc9e3d",
    "name": "function 4",
    "func": "const contentArr = msg.payload.split(\" \");\nconst topicArr = msg.topic.split(\"/\");\nmsg.payload = {\n    'value': contentArr[0],\n    'sensorId': contentArr[1],\n    'topic': topicArr[topicArr.length - 1]\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 500,
    "y": 240,
    "wires": [
      [
        "6a68d6390767aea7",
        "10aee0ec0da69682"
      ]
    ]
  },
  {
    "id": "91d1f7364a6e38bf",
    "type": "http request",
    "z": "201ad2e0fbdc9e3d",
    "name": "",
    "method": "POST",
    "ret": "txt",
    "paytoqs": "query",
    "url": "localhost:3001/api/v1/sensorData/button",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [
      {
        "keyType": "Content-Type",
        "keyValue": "",
        "valueType": "application/json",
        "valueValue": ""
      }
    ],
    "x": 690,
    "y": 320,
    "wires": [
      []
    ]
  },
  {
    "id": "56850c3ab11941bf",
    "type": "function",
    "z": "201ad2e0fbdc9e3d",
    "name": "function 5",
    "func": "const contentArr = msg.payload.split(\" \");\nconst topicArr = msg.topic.split(\"/\");\nmsg.payload = {\n    'value': + contentArr[0],\n    'sensorId': contentArr[1],\n    'topic': topicArr[topicArr.length - 1]\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 500,
    "y": 320,
    "wires": [
      [
        "91d1f7364a6e38bf"
      ]
    ]
  },
  {
    "id": "10aee0ec0da69682",
    "type": "debug",
    "z": "201ad2e0fbdc9e3d",
    "name": "debug 10",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 700,
    "y": 80,
    "wires": []
  },
  {
    "id": "29fba84a.b2af58",
    "type": "mqtt-broker",
    "name": "",
    "broker": "127.0.0.1",
    "port": "1883",
    "clientid": "",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willPayload": "",
    "willMsg": {},
    "sessionExpiry": ""
  }
]