gateway/node-red-flows/aggregation.json
[{"id":"d4cda063711c3ce9","type":"tab","label":"Flow 5","disabled":false,"info":"","env":[]},{"id":"68516dba21f6b0ac","type":"mqtt in","z":"d4cda063711c3ce9","name":"","topic":"node/skeleton:0/temperature","qos":"2","datatype":"auto-detect","broker":"29fba84a.b2af58","nl":false,"rap":true,"rh":0,"inputs":0,"x":160,"y":300,"wires":[["622cfda0e94f9b2e"]]},{"id":"11dbc40847b0e379","type":"mqtt in","z":"d4cda063711c3ce9","name":"","topic":"node/skeleton:0/feeding","qos":"2","datatype":"auto-detect","broker":"29fba84a.b2af58","nl":false,"rap":true,"rh":0,"inputs":0,"x":140,"y":440,"wires":[["622cfda0e94f9b2e"]]},{"id":"70324dd3311c603a","type":"mqtt in","z":"d4cda063711c3ce9","name":"","topic":"node/skeleton:0/danger","qos":"2","datatype":"auto-detect","broker":"29fba84a.b2af58","nl":false,"rap":true,"rh":0,"inputs":0,"x":140,"y":580,"wires":[["622cfda0e94f9b2e"]]},{"id":"3fdc45ab3617c587","type":"inject","z":"d4cda063711c3ce9","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"temperature","payload":"26.5 123id","payloadType":"str","x":140,"y":260,"wires":[["622cfda0e94f9b2e"]]},{"id":"3332448e740a20b8","type":"comment","z":"d4cda063711c3ce9","name":"MQTT handlers","info":"","x":100,"y":220,"wires":[]},{"id":"50d2850b7827983e","type":"inject","z":"d4cda063711c3ce9","name":"On init","props":[],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":90,"y":80,"wires":[["aaa4b113ac161816"]]},{"id":"0560fc59d5df07e0","type":"change","z":"d4cda063711c3ce9","name":"","rules":[{"t":"set","p":"token","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1160,"y":80,"wires":[["223340e06b84df89"]]},{"id":"223340e06b84df89","type":"ui_text_input","z":"d4cda063711c3ce9","name":"","label":"Token","tooltip":"","group":"57ff470b.93fdf8","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":1310,"y":80,"wires":[["0560fc59d5df07e0"]]},{"id":"5d70ea4e9f65ac38","type":"comment","z":"d4cda063711c3ce9","name":"Configuration","info":"","x":90,"y":40,"wires":[]},{"id":"45bb65bfe01015f4","type":"inject","z":"d4cda063711c3ce9","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"feeding","payload":"1 123id","payloadType":"str","x":120,"y":400,"wires":[["622cfda0e94f9b2e"]]},{"id":"d50c9412d0372da1","type":"inject","z":"d4cda063711c3ce9","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"danger","payload":"1 123id","payloadType":"str","x":120,"y":540,"wires":[["622cfda0e94f9b2e"]]},{"id":"b3d0adc16180a0f9","type":"mqtt in","z":"d4cda063711c3ce9","name":"","topic":"node/skeleton:0/drinking","qos":"2","datatype":"auto-detect","broker":"29fba84a.b2af58","nl":false,"rap":true,"rh":0,"inputs":0,"x":150,"y":700,"wires":[["622cfda0e94f9b2e"]]},{"id":"e4ae65e7249079a7","type":"inject","z":"d4cda063711c3ce9","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"drinking","payload":"1 123id","payloadType":"str","x":120,"y":660,"wires":[["622cfda0e94f9b2e"]]},{"id":"ac9d77de9fb4dfee","type":"http request","z":"d4cda063711c3ce9","name":"","method":"POST","ret":"txt","paytoqs":"query","url":"localhost:3001/api/v1/terrariumData","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[{"keyType":"Content-Type","keyValue":"","valueType":"application/json","valueValue":""}],"x":490,"y":980,"wires":[["02019b0ac40e5732"]]},{"id":"039d3218ce2aa49b","type":"function","z":"d4cda063711c3ce9","name":"Prepare HTTP request","func":"msg.headers = {\n    'Authorization': `Bearer ${msg.token}`\n};\nmsg.dbValue = msg.payload;\nmsg.payload = {\n    value: msg.payload.sum / msg.payload.n,\n    sensorId: msg.payload.hwId,\n    topic: msg.payload.topic,\n};\n\ndelete msg.token;\ndelete msg.parts;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":900,"wires":[["ac9d77de9fb4dfee"]]},{"id":"91d21ae5a55442dc","type":"change","z":"d4cda063711c3ce9","name":"","rules":[{"t":"set","p":"token","pt":"msg","to":"token","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":900,"wires":[["039d3218ce2aa49b"]]},{"id":"aaa4b113ac161816","type":"function","z":"d4cda063711c3ce9","name":"Ensure config file","func":"const defaultConfig = {};\n\nconst homedir = os.homedir();\nconst configDir = path.join(homedir, '.uu-assignment-iot-gateway');\nconst configFile = path.join(configDir, 'config.json');\n\nif (!fs.existsSync(configFile)) {\n    if (!fs.existsSync(configDir)) {\n        fs.mkdirSync(configDir);\n    }\n    fs.writeFileSync(configFile, JSON.stringify(defaultConfig));\n}\n\nreturn {\n    configFile\n};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"fs","module":"fs"},{"var":"process","module":"process"},{"var":"os","module":"os"},{"var":"path","module":"path"}],"x":250,"y":80,"wires":[["202fc38062ddd3cd"]]},{"id":"4046a5f5ea9d66fe","type":"file in","z":"d4cda063711c3ce9","name":"","filename":"configFile","filenameType":"msg","format":"utf8","chunk":false,"sendError":false,"encoding":"utf8","allProps":false,"x":620,"y":80,"wires":[["1f2f5f5af9332884"]]},{"id":"1f2f5f5af9332884","type":"json","z":"d4cda063711c3ce9","name":"","property":"payload","action":"obj","pretty":false,"x":750,"y":80,"wires":[["f9182162266ff285"]]},{"id":"202fc38062ddd3cd","type":"change","z":"d4cda063711c3ce9","name":"","rules":[{"t":"set","p":"configFile","pt":"flow","to":"configFile","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":80,"wires":[["4046a5f5ea9d66fe"]]},{"id":"64904e8165f3d06b","type":"ui_button","z":"d4cda063711c3ce9","name":"","group":"57ff470b.93fdf8","order":2,"width":0,"height":0,"passthru":false,"label":"Apply","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":90,"y":140,"wires":[["64fd205240e8a52f"]]},{"id":"64fd205240e8a52f","type":"function","z":"d4cda063711c3ce9","name":"Load config from flow","func":"return {\n    configFile: flow.get(\"configFile\"),\n    payload: {\n        token: flow.get(\"token\"),\n    },\n};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":140,"wires":[["3183045fe64f23ae"]]},{"id":"330c10c33c1d4a9c","type":"file","z":"d4cda063711c3ce9","name":"","filename":"configFile","filenameType":"msg","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":560,"y":140,"wires":[[]]},{"id":"3183045fe64f23ae","type":"json","z":"d4cda063711c3ce9","name":"","property":"payload","action":"str","pretty":true,"x":430,"y":140,"wires":[["330c10c33c1d4a9c"]]},{"id":"f9182162266ff285","type":"change","z":"d4cda063711c3ce9","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.token","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":80,"wires":[["0560fc59d5df07e0"]]},{"id":"622cfda0e94f9b2e","type":"function","z":"d4cda063711c3ce9","name":"Process MQTT message","func":"// @ts-ignore\nconst msgPayload = msg.payload;\n// @ts-ignore\nconst payloadParts = msg.payload.split(' ');\nif (payloadParts.length !== 2) {\n    throw new Error(`MQTT message has invalid format: ${msgPayload}`);\n}\n\nlet sensorValue = parseFloat(payloadParts[0]);\nif (isNaN(sensorValue)) {\n    sensorValue = parseInt(payloadParts[0]);\n    if (isNaN(sensorValue)) {\n        throw new TypeError(`Sensor value from MQTT message is not a number: ${sensorValue}`);\n    }\n}\n\nreturn {\n    mqttMsg: {\n        value: sensorValue,\n        hwId: payloadParts[1],\n        topic: msg.topic\n    },\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":480,"wires":[["d2f6e2d76cd1fb2f"]]},{"id":"e23508d6a245af10","type":"mongodb out","z":"d4cda063711c3ce9","mongodb":"3c7eb9c774544e63","name":"Store data","collection":"data","payonly":true,"upsert":false,"multi":false,"operation":"store","x":750,"y":620,"wires":[]},{"id":"24f340379bde1621","type":"mongodb in","z":"d4cda063711c3ce9","mongodb":"3c7eb9c774544e63","name":"Get data","collection":"data","operation":"find","x":600,"y":820,"wires":[["2e6ebdf71ad42bd7"]]},{"id":"f0992d74a3e2d9c8","type":"inject","z":"d4cda063711c3ce9","name":"On init and every minute","props":[],"repeat":"60","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":150,"y":820,"wires":[["305ea709319283aa","8546c673b9f73840"]]},{"id":"305ea709319283aa","type":"function","z":"d4cda063711c3ce9","name":"Prepare DB query","func":"const now = Date.now();\nconst aggregationPeriod = 5 * 60 * 1000;\n\nreturn {\n    payload: { \n        time: { $lt: now - aggregationPeriod },\n        sent: { $eq: false },\n    },\n};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":820,"wires":[["24f340379bde1621"]]},{"id":"19bdc86ac668a6a5","type":"mongodb in","z":"d4cda063711c3ce9","mongodb":"3c7eb9c774544e63","name":"Get data","collection":"data","operation":"find","x":680,"y":540,"wires":[["11887aee668bc9f3"]]},{"id":"d2f6e2d76cd1fb2f","type":"function","z":"d4cda063711c3ce9","name":"Prepare DB query","func":"const now = Date.now();\nconst aggregationPeriod = 5 * 60 * 1000;\n\nreturn {\n    mqttMsg: msg.mqttMsg,\n    payload: { \n        time: { $gt: now - aggregationPeriod },\n        hwId: { $eq: msg.mqttMsg.hwId },\n        topic: msg.mqttMsg.topic,\n    },\n};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":540,"wires":[["19bdc86ac668a6a5"]]},{"id":"11887aee668bc9f3","type":"function","z":"d4cda063711c3ce9","name":"Aggregate MQTT message","func":"// @ts-ignore\nconst queryResult = msg.payload;\n// @ts-ignore\nconst mqttMsg = msg.mqttMsg;\n\nconst currentRecord = queryResult.length === 1 \n  ? queryResult[0]\n  : {\n        sent: false,\n        hwId: mqttMsg.hwId,\n        topic: mqttMsg.topic,\n        time: Date.now(),\n        sum: 0,\n        n: 0\n    };\n\ncurrentRecord.sum += mqttMsg.value;\ncurrentRecord.n++;\n\nreturn {\n    payload: currentRecord\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":620,"wires":[["e23508d6a245af10"]]},{"id":"2e6ebdf71ad42bd7","type":"split","z":"d4cda063711c3ce9","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":730,"y":820,"wires":[["91d21ae5a55442dc"]]},{"id":"8d5f9d60457b49f1","type":"comment","z":"d4cda063711c3ce9","name":"Sending data to BE","info":"","x":430,"y":780,"wires":[]},{"id":"21e68a262472c8a6","type":"function","z":"d4cda063711c3ce9","name":"Mark as sent","func":"return {\n  payload: {\n    ...msg.dbValue,\n    time: Date.now(),\n    sent: true,\n  }\n};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":770,"y":980,"wires":[["cce4c3d3cf541520"]]},{"id":"cce4c3d3cf541520","type":"mongodb out","z":"d4cda063711c3ce9","mongodb":"3c7eb9c774544e63","name":"Store data","collection":"data","payonly":true,"upsert":false,"multi":false,"operation":"store","x":930,"y":980,"wires":[]},{"id":"02019b0ac40e5732","type":"switch","z":"d4cda063711c3ce9","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"btwn","v":"200","vt":"num","v2":"299","v2t":"num"}],"checkall":"true","repair":false,"outputs":1,"x":630,"y":980,"wires":[["21e68a262472c8a6"]]},{"id":"c471bd06f9290b4e","type":"comment","z":"d4cda063711c3ce9","name":"Removal of sent data","info":"","x":440,"y":1060,"wires":[]},{"id":"8546c673b9f73840","type":"function","z":"d4cda063711c3ce9","name":"Prepare DB query","func":"const now = Date.now();\nconst retentionPeriod = 24 * 60 * 60 * 1000;\n\nreturn {\n    payload: { \n        time: { $lt: now - retentionPeriod },\n        sent: { $eq: true },\n    },\n};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":1100,"wires":[["f363d5eacce842ff"]]},{"id":"f363d5eacce842ff","type":"mongodb out","z":"d4cda063711c3ce9","mongodb":"3c7eb9c774544e63","name":"Remove data","collection":"data","payonly":false,"upsert":false,"multi":false,"operation":"delete","x":610,"y":1100,"wires":[]},{"id":"b5108210b76d5767","type":"comment","z":"d4cda063711c3ce9","name":"Local data aggregation","info":"","x":520,"y":440,"wires":[]},{"id":"29fba84a.b2af58","type":"mqtt-broker","name":"","broker":"127.0.0.1","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"57ff470b.93fdf8","type":"ui_group","name":"Configuration","tab":"11207769.c31889","order":1,"disp":true,"width":"6","collapse":true,"className":""},{"id":"3c7eb9c774544e63","type":"mongodb","hostname":"localhost","topology":"direct","connectOptions":"authSource=admin","port":"27017","db":"iot-gateway","name":"Local mongo"},{"id":"11207769.c31889","type":"ui_tab","name":"Home","icon":"dashboard"}]